main{
    height:100vh; 
    background-image: url('IMG/day\ plan\ 2.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main::before{
    content: "";
    width: 100%;
    height:100vh; 
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    transition: background-color 2s ease;
    z-index: 1;
}

.body{
    z-index: 2;
    position: relative;
    height:100vh; 
}

.image{
    height: 400px;
    width: 400px;
}

@media screen and (min-width : 300px) and (max-width : 540px){
    header h1{
        font-size: var(--text-xl);
    }
    section{
        margin-bottom: 40px;
    }
    section .plan h1{
        font-size: var(--text-2xl);
        margin-top: -70px;
        margin: auto;
    }
    section .plan h3{
        font-size: var(--text-xl);
        padding: 0 20px;
    }

    .image img{
        position: absolute;
        top: 0;
        padding: 0 40px;
        height: 160px;
        transform: translate(-50% -50%);
    }
    .image{
        height: 200px;
        width: 100%;
        position: relative;
        top: 40px;
    }
}

@media screen  and (min-width : 541px) and (max-width : 767px){
    section .plan h1{
        font-size: 28px;
        margin-top: -70px;
        margin: auto;
    }
    section{
        position: relative;
    }
    section .plan h3{
        font-size: var(--text-medium);
    }
    .image img{
        height: 170px;
    }
    .image{
        height: 240px;
        width: 230px;
        position: relative;
        width: 100%;
        padding: 20px 100px 0 100px;
        transform: translate(-50% -50%);
    }
}

@media screen  and (min-width : 768px) and (max-width : 866px){
    section{
        padding: 0 30px;
    }
    section .plan h3{
        text-align: left;
    }
}

@media screen  and (min-width : 867px) and (max-width : 905px){
    section .plan h3{
        text-align: left;
    }
    section{
        padding: 0 30px;
    }
}
@media screen  and (min-width : 915px) and (max-width : 1016px){
    section .plan h3{
        text-align: left;
    }
    section{
        padding: 0 30px;
    }
}